
<div class="row">
    <div class="col-sm-6 offset-sm-3">
<h1 style="margin-top: 130px" style="font-family: 'Oswald', sans-serif;" ></h1>

<p style="font-family: 'Oswald', sans-serif;">Seat patterns are a strange and beautiful confluence of art and design, and of routine and normalcy.

This site is dedicated to the appreciation of seat patterns, primarily on public transit. </p>
<br>
<p style="font-family: 'Oswald', sans-serif;">Send photo submissions to khiran_oneill@yahoo.ca
</p>

  </div>
  </div>
