
<div class="row">
    <div class="col-sm-6 offset-sm-3">
<h1 style="margin-top: 140px" style="font-family: 'Oswald', sans-serif;">Hi, I'm Khiran!</h1>

<p style="font-family: 'Oswald', sans-serif;">These are cool bus seats I've spotted.

Send me some if you see any good ones!</p>
<br>
<p style="font-family: 'Oswald', sans-serif;">My email is khiran_oneill@yahoo.ca
</p>

  </div>
  </div>
