


<div class="card-columns" >

  <% @patterns.each do |pattern| %>
  <%= link_to pattern_path(pattern) do %>
  <div class="card" >

    <img class="card-img-top" style="border-radius: 2px;" style="box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3)"src="<%= cl_image_path pattern.photo.key, crop: :fill %>" alt="Card image cap">
    <div class="card" >
      <h6 class="card-title"><%=pattern.location %></h6>
      <!-- <p class="card-text"><%=pattern.description %></p> -->

    </div>
  </div>

 <% end %>
  <% end %>
</div>
