<br>
<br>
<br>
<br>
<div class="cards">
<% @patterns.each do |pattern| %>
<% if pattern.photo.attached? %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pattern.photo.key, crop: :fill %>');">


      <p><%= link_to pattern.location, pattern_path(pattern) %></p>
    </div>

    </div>
    <% end %>
  <% end %>
  </div>

<%#= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
