<br>
<br>
<br>
<br>
<br>
<br>
<div >
        <%= cl_image_tag @pattern.photo.key, height: 300, width: 400, crop: :fill %>
        <%= @pattern.location %>
        <%= @pattern.description %>


      </div>
